<div class="page-component" ng-class="{'edit-mode': editPageMode}">

  <div class="move-remove-page-component" ng-show="editPageMode">
    <button ng-click="removeComponent()">Delete</button>
  </div>
  
  <div class="view" ng-hide="editComponentMode" ng-click="toggleEditComponentMode()">
    <text-component ng-if="component.type === 'text'"></text-component>
    
    <math-component ng-if="component.type === 'math'"></math-component>
    
    <question-component ng-if="component.type === 'question'"></question-component>
    
    <youtube-component ng-if="component.type === 'youtube'"></youtube-component>
    
    <autocorrecting-component ng-if="component.type === 'autocorrecting'"></autocorrecting-component>
  </div>
  
  <div class="edit" ng-show="editComponentMode">
    
    <textarea ng-if="component.type === 'text' || component.type === 'math'" ng-show="editComponentMode" ng-model="component.content"></textarea>
    
    <question-component-editor ng-if="component.type === 'question'"></question-component-editor>
    
    <youtube-component-editor ng-if="component.type === 'youtube'"></youtube-component-editor>
    
    <autocorrecting-component-editor ng-if="component.type === 'autocorrecting'"></autocorrecting-component-editor>
    
    <button ng-show="editComponentMode" ng-click="saveComponent()">Done</button>
  </div>
  
</div>