<div ng-class="{'panel panel-default': pageEditMode}">

  <div class="text-right" ng-show="pageEditMode">
    <button class="btn btn-danger" ng-click="removeComponent()">X</button>
  </div>
  
  <div ng-hide="component.editMode" ng-click="toggleEditComponentMode()">
    <text-component ng-if="component.type === 'text'"></text-component>
    
    <math-component ng-if="component.type === 'math'"></math-component>
    
    <question-component ng-if="component.type === 'question'"></question-component>
    
    <youtube-component ng-if="component.type === 'youtube'"></youtube-component>
    
    <autocorrecting-component ng-if="component.type === 'autocorrecting'"></autocorrecting-component>
    
    <path-component ng-if="component.type === 'path'"></path-component>
  </div>
  
  <div ng-show="component.editMode">
    
    <text-component-editor ng-if="component.type === 'text'" ng-show="component.editMode"></text-component-editor>
    
    <math-component-editor ng-if="component.type === 'math'" ng-show="component.editMode"></math-component-editor>
    
    <question-component-editor ng-if="component.type === 'question'"></question-component-editor>
    
    <youtube-component-editor ng-if="component.type === 'youtube'"></youtube-component-editor>
    
    <autocorrecting-component-editor ng-if="component.type === 'autocorrecting'"></autocorrecting-component-editor>
    
    <path-component-editor ng-if="component.type === 'path'"></path-component-editor>
    
    <button ng-show="component.editMode" ng-click="page.$update()">Done</button>
  </div>
  
</div>