<div class="page-view-column-center">
  
  <div class="page-wrapper">
    <a href="#/profile">Back to profile</a>
    <h1>{{bookTitle}}</h1>

    <page-navigation></page-navigation>
    
    <ul ng-if="editPageMode" dnd-list="page">
      <li ng-repeat="component in page"
          dnd-draggable="component"
          dnd-moved="moveComponent($index)"
          >
        <page-component></page-component>
      </li>
    </ul>
    
    <page-component ng-if="!editPageMode" ng-repeat="component in page"></page-component>
    
    <page-navigation></page-navigation>

  </div>
  
</div>

<page-edit-toolbar></page-edit-toolbar>