<div class="page-edit-toolbar">
  
  <!-- Enter edit mode button -->
  <button class="btn btn-default" ng-hide="pageEditMode" ng-click="togglePageEditMode()">Edit page</button>
  
  <!-- Page editing toolbar -->
  <div ng-show="pageEditMode">
    
    <!-- Exit edit mode button -->
    <button class="btn btn-default" ng-show="pageEditMode" ng-click="togglePageEditMode()">X</button><br><br>
    
    <!-- Buttons that add components to the page -->
    <button class="btn btn-default" ng-click="page.addMathComponent()">$$\sum$$Add math</button>
    <button class="btn btn-default" ng-click="page.addTextComponent()"><h2>F</h2>Add text</button>
    <button class="btn btn-default" ng-click="page.addQuestionComponent()"><h2>?</h2>Add question</button>
    <button class="btn btn-default" ng-click="page.addYouTubeComponent()"><h2>YouTube</h2>Add YouTube video</button>
    <button class="btn btn-default" ng-click="page.addAutocorrectingComponent()"><h2>&#10003;&#10007;</h2>Add autocorrecting question</button>
  </div>
</div>