<a ui-sref="book({bookTitle: bookTitle})">Back to book</a>

<div class="page-view-column-center text-center row">
  
  <div class="col-xs-12">
    <h1>{{bookTitle}}</h1>

    <page-navigation ng-if="!book.dynamic"></page-navigation>
    
    <ul ng-if="pageEditMode" dnd-list="page">
      <li ng-repeat="component in page.components"
          dnd-draggable="component"
          dnd-moved="page.moveComponent($index)"
          dnd-disable-if="componentEditMode"
          >
        <page-component></page-component>
      </li>
    </ul>
    
    <page-component ng-if="!pageEditMode" ng-repeat="component in page.components"></page-component>
    
    <page-path ng-if="page.path && book.dynamic"></page-path>
    
    <page-navigation ng-if="!book.dynamic"></page-navigation>
    
    <page-edit-toolbar class="col-xs-12" ng-if="isUserAuthor"></page-edit-toolbar>
    
    <div ng-if="isUserAuthor && pageEditMode" class="page-edit-toolbar-filler"></div>

  </div>
  
</div>