<a ng-if="isLoggedIn" href="#/profile">Back to profile</a>
<h1 class="text-center">{{book.title}}</h1>
<button ng-if="book.isUserAuthor" class="text-center center-block btn btn-link" ng-click="deleteBook()">Delete book</button>

<div ng-if="book.pages.length > 0" class="col-xs-12">

  <h2>Page list</h2>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="page in book.pages track by $index">
      <a ui-sref="page({bookID: book.id, bookTitle: book.title, pageNumber: $index + 1})">
        {{page.title}}
      </a>
      <span ng-if="book.isUserAuthor" class="pull-right">
        <button class="btn btn-xs btn-warning" ng-click="deletePage($index + 1)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </li>
  </ul>
  
</div>

<div class="text-center" ng-if="book.pages.length <= 0">
  <p>This book is currently empty.</p>
</div>

<div class="col-xs-12">
  <button ng-if="book.isUserAuthor" class="btn btn-primary" ng-click="createPage()">Create page</button>
</div>
