<div class="page-component" ng-class="{'edit-mode': editPageMode}">

  <div class="move-remove-page-component" ng-show="editPageMode">
    <button ng-click="removeComponent()">Delete</button>
    <button ng-click="moveComponentUp()">&#8593;</button>
    <button ng-click="moveComponentDown()">&#8595;</button>
  </div>

  <div ng-hide="editComponentMode" ng-click="toggleEditComponentMode()">
    <p ng-show="component.type === 'text'" ng-bind-html="component.content"></p>

    <p ng-show="component.type === 'math'" compile-math="component.content"></p>
  </div>

  <div ng-show="editComponentMode">
    <textarea ng-show="editComponentMode" ng-model="component.content"></textarea>

    <button ng-show="editComponentMode" ng-click="saveComponent()">Done</button>
  </div>
  
</div>