label {
    display: block; /* Puts it on a separate line */
    
    margin-top: 30px;
}

textarea {
    width: 20em;
}

a:link    { color: #06c }  /* unvisited links */
a:visited { color: #06c }  /* visited links   */
a:hover   { color: #c00 }  /* user hovers     */
a:active  { color: #06c }  /* active links    */