body {
    display: block;
    font-family: sans-serif;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    display: block; /* Puts it on a separate line */
    
    margin-top: 30px;
}

textarea {
    width: 20em;
}

button:hover {
    background: #DE3E3E;
}

button:active {
    background: #FF4747;
}

a {
    display: block;
    margin-top: 30px;
}

a:link    { color: #06c }  /* unvisited links */
a:visited { color: #06c }  /* visited links   */
a:hover   { color: #c00 }  /* user hovers     */
a:active  { color: #06c }  /* active links    */