body {
    display: block; /* Allows the button (and more) to be centered */
    
    /* Centers the page */
    margin-left: auto;
    margin-right: auto;
    
    /* Text stuff */
    font-family: sans-serif;
    text-align: center;
    
    max-width: 35rem;
}

label, button, p, a {
    margin-top: 30px;
}

label {
    display: block; /* Puts it on a separate line */
}

button {
    /* Placing */
    display: block;
    margin: 40px auto 0 auto;
    clear: both;
    
    /* Design */
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    background: #FF4747;
    padding: .5em 1em;
    border: 0;
    border-radius: 3px;
    text-shadow: 0 1px 1px #912424;
}

a {
    display: block; /* Needed for the margin-top to work */
    
    word-wrap: break-word; /* Prevents a long link from going outside the container */
}

button:hover {
    background: #DE3E3E;
}

button:active {
    background: #FF4747;
}

.correctFeedback, .incorrectFeedback {
    font-size: 2em;
}

.correctFeedback {
    color: green;
}

.incorrectFeedback {
    color: red;
}

textarea {
    width: 100%;
	margin: 0 auto 20px auto;
	font-family: inherit;
	font-size: inherit;
}

ul.choose-content-type {
	width: 100%;
	list-style-type: none;	
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.choose-content-type li {
	float: left;
	color: #FFF;
	background: #FF4747;
	margin: 0 2px;
	padding: 5px 10px;
	border-radius: 3px 3px 0 0;
}

.choose-content-type li:hover {
	background: #DE3E3E;
}

a:link    { color: #06c }  /* unvisited links */
a:visited { color: #06c }  /* visited links   */
a:hover   { color: #c00 }  /* user hovers     */
a:active  { color: #06c }  /* active links    */
