body {
    /* This makes the page centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /* Change the font and center all text */
    font-family: sans-serif;
    text-align: center;
    
    max-width: 720px;
}