$editComponentMinHeight: 50px

.header
  background: #EEE

.error-message
  color: #b94a48

.saving-message
  color: #CCC

.autocorrecting-question
  float: left
  width: 500px
  margin-right: 2em
  
.autocorrecting-feedback
  font-size: 1.5em
  .correct, .incorrect
    display: inline-block
    width: 1em
  .correct
    color: green
  .incorrect
    color: red

.page-edit-toolbar
  background: rgba(133, 133, 133, 0.5)
  position: fixed
  padding: 1em
  bottom: 0px
  left: 0px

.page-edit-toolbar-filler
  height: 360px
  width: 100%

page-component>div
  margin: 25px 0
  padding: 10px
  padding-bottom: 0
  textarea
    margin: 10px 0

.page-path-content
  padding: 25px

ul[dnd-list]
  position: relative
  min-height: $editComponentMinHeight
  padding-left: 0px
  li
    display: block
    position: relative
  .dndDraggingSource
    display: none
  .dndPlaceholder
    display: block
    background: #DDD
    min-height: $editComponentMinHeight