$mainWidth: 500px
$pageWidth: 800px
$editComponentMinHeight: 50px

.header
  background: #EEE

ul[dnd-list]
  position: relative
  min-height: $editComponentMinHeight
  padding-left: 0px
  li
    background-color: #fff
    border: 1px solid #ddd
    display: block
    position: relative
  .dndDraggingSource
    display: none
  .dndPlaceholder
    display: block
    background-color: #ddd
    min-height: $editComponentMinHeight