body {
  font-family: Arial;
  margin: 0;
}

h1 {
  text-align: center;
}

button {
  color: #FFF;
  background: #FF7700;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #DD6600;
  border-right: 1px solid #DD6600;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #FF9933;
}

input {
  border: 1px solid #AAA;
  padding: 5px 7px;
}

.page-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.page-component.edit-mode {
  min-height: 150px;
}

.page-component textarea {
  width: 100%;
  min-height: 150px;
}

.page-component.edit-mode p:hover {
  background: #EEE;
  cursor: pointer;
}

.page-navigation {
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 5px 7px;
}

.page-navigation .next {
  float: right;
  text-align: right;
  width: 33%;
}

.page-navigation .previous {
  float: left;
  width: 33%;
}

.page-navigation .page-counter {
  display: inline-block;
  text-align: center;
  width: 34%;
}

.page-edit-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 600px;
  background: #FFF;
  border: 3px solid #FF7700;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 7px;
}

button.page-edit {
  position: fixed;
  right: 0px;
  top: 100px;
}

.move-remove-page-component {
  float: left;
  margin-left: -80px;
}

.move-remove-page-component button {
  display: block;
  margin: 5px;
}

ul {
  list-style-type: none;
}

div.error {
  font-size: 12px;
  color: red;
}

div.success {
  font-size: 12px;
  color: green;
}

textarea.edit-page-textarea {
  width: 100%;
}

.header {
  width: 100%;
  background: #EEE;
  border-bottom: 1px solid #DDD;
  margin-bottom: 1rem;
}

.top-navbar {
  padding: 10px;
  display: table;
  clear: both;
  content: "";
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.top-navbar a {
  line-height: 24px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.top-navbar a:hover {
  color: #4078c0;
}

.top-navbar input {
  border-radius: 3px;
  margin-right: 11px;
}

.top-navbar .left {
  float: left;
}

.top-navbar .left a {
  margin-right: 10px;
}

.top-navbar .right {
  float: right;
}