<!doctype html>
<html lang="en" ng-app="crowdmath">
  
  <head>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="/app.js"></script>
    <script src="/profile/profile.js"></script>
    <script src="/shared/userService.js"></script>
	<script src="/shared/bookService.js"></script>
    <script src="/shared/mathjaxDirective.js"></script>
    <script src="/shared/directives.js"></script>
    <script src="/book/book.js"></script>
    
    <script type="text/javascript">
      MathJax.Hub.Config({
        "HTML-CSS": {
        }
      });
    </script>
    
	<link rel="stylesheet" type="text/css" href="/shared/master.css" media="screen" />
  </head>
  
  <body>
    
    <div class="header">
      <div class="top-navbar">
        <div class="left">
          <input type="text" placeholder="Search for books">
          <a href="#/">Home</a>
          <a href="#/book">Browse books</a>
        </div>
        <div class="right">
          <a href="/logout">Log out</a>
        </div>
      </div>
    </div>
    
    <div ng-view>
    </div>
    
  </body>
  
</html>
